
/* La mise en forme de la page connexion */

* 
{
box-sizing: border-box;
}

html
{
font-family:'Times New Roman', Times, serif;
background-color:blanchedalmond;
}

.head
{
display: flex;
flex-direction:column;
margin-top:20px;
}

.logo
{
width: 400px;
height:100px;
border:double brown 5px;
border-top: ridge brown 10px;
border-bottom: ridge brown 10px;
border-left:none;
border-right:none;
margin-left:50px;
border-radius:20%;
}

.titre
{
color: white;
background-color:brown;
text-align: center;
margin-left: 150px ;
margin-right: 150px ;
margin-top:50px;
border-left: double white 10px;
border-right: double white 10px;
border-bottom:ridge 10px grey;
border-top: ridge 10px grey;
padding:10px;
}


.form
{
margin:auto;
margin-top:50px;
border: double grey 5px;
width:70%;
display: flex;
justify-content: center;
background-color: cadetblue;
padding:20px;
}

.champ
{
border: groove crimson 5px;
width:80%;
margin:auto;
}

.titre1
{
background-color:tomato;
padding: 2px;
border-radius:30%;
border-left: 35px white double;
border-right: 4px yellow ridge;
border-bottom: 6px white solid;
border-top: 6px white solid;
color: white;
text-align: center;
}

.label1
{
margin-left: 50px;
background-color: #f4511e;
border: none;
color: white;
padding: 8px 16px;
text-align: center;
font-size: 16px;
margin: 4px 2px;
opacity: 0.6;
transition: 0.3s;
display: inline-block;
text-decoration: none;
cursor: pointer;
border-radius: 20%;
border:ridge 3px black;
}

.label1:hover 
{
opacity:1
}

.label2
{
margin-left: 50px;
background-color: #f4511e;
border: none;
color: white;
padding: 8px 16px;
text-align: center;
font-size: 16px;
margin: 4px 2px;
opacity: 0.6;
transition: 0.3s;
display: inline-block;
text-decoration: none;
cursor: pointer;
border-radius: 20%;
border:ridge 3px black;
}

.label2:hover 
{
opacity:1
}




input[type=text] 
{
margin:auto;
width: 50%;
padding: 12px 20px;
margin-left:200px;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

input[type=password] 
{
margin:auto;
width: 50%;
padding: 12px 20px;
margin-left:200px;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;

}

input[type=submit] 
{
width: 40%;
cursor: pointer;
background-color:tomato;
padding: 2px;
border-radius:30%;
border-left: 35px white double;
border-right: 4px yellow ridge;
border-bottom: 6px white solid;
border-top: 6px white solid;
color: white;
margin-left:70px;
}

input[type=reset] 
{
width: 40%;
cursor: pointer;
background-color:tomato;
padding: 2px;
border-radius:30%;
border-right: 35px white double;
border-left: 4px yellow ridge;
border-bottom: 6px white solid;
border-top: 6px white solid;
color: white;

}

.parag
{
margin-top:20px;
color: royalblue;
text-align: center;
background-color: aquamarine;
}

.erreur
{
 color:red;
}

