/* La mise en forme de la page index.html */

* 
{
box-sizing: border-box;
}

html
{
font-family:'Times New Roman', Times, serif;
}

.grid-container 
{
outline:5px crimson ridge;
margin-top:10px;
display: grid;
grid-template-columns: 40% 60%;
grid-template-rows: auto auto auto auto;
gap:10px;
background-color:grey;
}
  
.grid-container > div 
{
background-color:paleturquoise;
text-align: center;
padding: 10px 10px;
font-size: 30px;
}


.grid-item1
{
margin:auto;
margin-top:20px;
width:100%;
grid-column: 1 / span 2;
display: flex;
justify-content:space-between;
align-items:center;
flex-direction:row;
}

img.logo
{
width: 300px;
height:80px;
border:double brown 5px;
border-top: ridge brown 10px;
border-bottom: ridge brown 10px;
border-left:none;
border-right:none;
margin-left:50px;
border-radius:20%;
}

.titre
{
color: white;
background-color:brown;
text-align: center;
margin-left: 150px ;
margin-right: 150px ;
margin-top:50px;
border-left: double white 10px;
border-right: double white 10px;
border-bottom:ridge 10px grey;
border-top: ridge 10px grey;
padding:10px;
}

.grid-item2
{
display: flex;
height:25%;
width:100%;
}

ul 
{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}
  
li 
{
float: left;
}
  
li a, .dropbtn 
{
display: inline-block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
  
li a:hover, .dropdown:hover .dropbtn 
{
background-color: red;
}
  
li.dropdown 
{
display: inline-block;
}
  
.dropdown-content
{
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
  
.dropdown-content a 
{
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}
  
.dropdown-content a:hover 
{background-color: #f1f1f1;}
  
.dropdown:hover .dropdown-content 
{
display: block;
}


.grid-item3
{
display: flex;
}

.grid-item4
{
display: flex;
grid-column: 1 / span 2;
justify-content: space-around;
}

.contenu
{
font-size:20px;
text-align:left;
padding:5px;
}


/* La mise en forme de la page connexion */



.form
{
margin:auto;
margin-top:50px;
border: double grey 5px;
width:70%;
display: flex;
justify-content: center;
background-color: cadetblue;
padding:20px;
}


.champ
{
border: groove crimson 5px;
width:80%;
margin:auto;
}


.titre1
{
background-color:tomato;
padding: 2px;
border-radius:30%;
border-left: 35px white double;
border-right: 4px yellow ridge;
border-bottom: 6px white solid;
border-top: 6px white solid;
color: white;
text-align: center;
}

.label1
{
margin-left: 50px;
background-color: #f4511e;
border: none;
color: white;
padding: 8px 16px;
text-align: center;
font-size: 16px;
margin: 4px 2px;
opacity: 0.6;
transition: 0.3s;
display: inline-block;
text-decoration: none;
cursor: pointer;
border-radius: 20%;
border:ridge 3px black;
}

.label1:hover 
{
opacity:1
}

.label2
{
margin-left: 50px;
background-color: #f4511e;
border: none;
color: white;
padding: 8px 16px;
text-align: center;
font-size: 16px;
margin: 4px 2px;
opacity: 0.6;
transition: 0.3s;
display: inline-block;
text-decoration: none;
cursor: pointer;
border-radius: 20%;
border:ridge 3px black;
}

.label2:hover 
{
opacity:1
}




input[type=text] 
{
margin:auto;
width: 50%;
padding: 12px 20px;
margin-left:200px;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

input[type=password] 
{
margin:auto;
width: 50%;
padding: 12px 20px;
margin-left:200px;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;

}

input[type=submit] 
{
width: 40%;
cursor: pointer;
background-color:tomato;
padding: 2px;
border-radius:30%;
border-left: 35px white double;
border-right: 4px yellow ridge;
border-bottom: 6px white solid;
border-top: 6px white solid;
color: white;
}

input[type=reset] 
{
width: 40%;
cursor: pointer;
background-color:tomato;
padding: 2px;
border-radius:30%;
border-right: 35px white double;
border-left: 4px yellow ridge;
border-bottom: 6px white solid;
border-top: 6px white solid;
color: white;
margin-left:140px;
}

#erreur
{
color:red;
text-align: center;
font-weight: bold;
background-color: black;
width:15%;
margin:auto;
margin-top:20px;
border-radius:20%;
padding: 4px;
border: ridge white 5px;
}

.parag
{
margin-top:20px;
color: royalblue;
text-align: center;
background-color: aquamarine;
}




/* La mise en forme de la page Exercice-1.html */


.grid-item5
{
width:100%;
grid-column: 1 / span 2;
grid-row: 3;
display: flex;
justify-content: flex-start;
flex-direction: column;
}

.grid-item2-1
{
display: flex;
height:27%;
width:100%;
}





.titre3
{
background-color:black;
padding:8px;
border-radius:30%;
border-right: 35px white double;
border-left: 4px yellow ridge;
border-bottom: 6px white solid;
border-top: 6px white solid;
color: white;
text-align:center;
width:200px;
margin-left:30px;
}


.exercice1
{
width:600px;
margin-left:20px;
border:ridge brown 5px;
}

.solution-ex1-js
{
width:600px;
margin-left:20px;
border:ridge brown 5px;
}

.phrase
{
font-size:20px;
margin-left: 10px;
color:blue;
}





